#cardCont{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
}

#top{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 30px;
}

body{
    background-image: url('../public/images/pokeBackground.jpeg');
    background-size: cover;
}