.pokeCard{
    border: solid 1px black;
    border-radius: 1em;
    background-color: rgb(255, 255, 255);
    max-height: 350px;
}

.pokeCardBorder{
    padding: 10px;
    border: solid 1px black;
    border-radius: 1em;
    background-color: rgb(209, 211, 189);
}